@import "GeneXusUnanimo.UnanimoWeb.css";
@import "WorkWithPlusDS.css";
@import "GeneXusReporting.QueryViewerWeb.css";
@import "Inter_24pt-Bold_ttf.ttf";
@import "Inter_24pt-Light_ttf.ttf";
@import "Inter_24pt-Medium_ttf.ttf";
@import "Inter_24pt-Regular_ttf.ttf";
@import "Inter_24pt-SemiBold_ttf.ttf";
@import "Murecho-Bold_ttf.ttf";
@import "Murecho-Light_ttf.ttf";
@import "Murecho-Medium_ttf.ttf";
@import "Murecho-Regular_ttf.ttf";
@import "Murecho-SemiBold_ttf.ttf";
@import "Poppins-Bold_ttf.ttf";
@import "Poppins-Light_ttf.ttf";
@import "Poppins-Medium_ttf.ttf";
@import "Poppins-Regular_ttf.ttf";
@import "Poppins-SemiBold_ttf.ttf";
@import "AtendenteIA_Tokens.css";


@layer AtendenteIA {
/* [gx-css-import ignore - start] */
 
/* [gx-css-import ignore - end] */
/* [gx-css-user-controls - start] */
/* [gx-css-user-controls - end] */
.history 
{
	overflow : hidden;
}
.btn-transparent 
{
	border : none;
	background : transparent;
}
.InputNumerico 
{
	border-radius : 4px;
	border-color : #e5e5e5;
	padding : 6px 12px;
	color : black;
	font-size : 14px;
	font-family : Inter24pt-24pt;
	border-width : 2px;
}
.InputTexto 
{
	border-radius : 4px;
	border-color : #e5e5e5;
	padding : 6px 12px;
	color : black;
	font-size : 14px;
	font-family : Inter24pt-24pt;
	border-width : 2px;
}
.InputTextoGrande 
{
	border-radius : 4px;
	border-color : #e5e5e5;
	padding : 6px 12px;
	color : black;
	font-size : 14px;
	font-family : Inter24pt-24pt;
	border-width : 2px;
	height : 100px;
	resize : none;
}
.InputNumerico:focus 
{
	outline : none !important;
	border : 2px solid #a1a1a1 !important;
}
.InputTexto:focus 
{
	outline : none !important;
	border : 2px solid #a1a1a1 !important;
}
.InputTextoGrande:focus 
{
	outline : none !important;
	border : 2px solid #a1a1a1 !important;
}
.PI_tableContentCell 
{
	background-image : var(--GX-Image_img_fundo_inicial);
	padding-bottom : 75px;
	background-size : cover;
}
.PI_img_logo_atenvia 
{
	width : 80px;
}
.PI_img_mockup_iphone 
{
	width : 300px;
}
.PI_btnInicio 
{
	border : none;
	background : transparent;
	font-family : Murecho-Bold;
	color : #01458A;
	font-size : 15px;
}
.PI_btnSobre 
{
	border : none;
	background : transparent;
	font-family : Murecho-Bold;
	color : #01458A;
	font-size : 15px;
}
.PI_btnServicos 
{
	border : none;
	background : transparent;
	font-family : Murecho-Bold;
	color : #01458A;
	font-size : 15px;
}
.PI_btnSelecionado 
{
	border : none;
	background : transparent;
	font-family : Murecho-Bold;
	font-size : 15px;
	color : white;
	border-bottom : 2px solid white;
	border-radius : 4px;
}
.PI_tableFaleConosco 
{
	background-color : white;
	border-radius : 32px;
}
.PI_txtFaleConosco 
{
	padding-right : 14px;
	font-family : Murecho-Medium;
	color : #01458A;
	font-size : 15px;
}
tr:has(> td> span.PI_txtFaleConosco) 
{
	display : flex;
	padding : 10px 18px;
	align-items : center;
}
.PI_btnFaleConosco 
{
	background-color : #01458A;
	width : 34px;
	height : 34px;
	align-content : center;
	text-align : center;
	font-size : 18px;
	border-radius : 32px;
	color : white;
	transform : rotate(45deg);
}
.PI_tableHeader 
{
	margin-top : 38px;
}
.PI_txtApresentacaoTitulo 
{
	font-family : Poppins-SemiBold;
	color : white;
	font-size : 48px;
}
.PI_txtApresentacaoSubTitulo 
{
	font-family : Inter24pt-24ptMedium;
	color : white;
	font-size : 22px;
}
.PI_btnComecarGratis 
{
	background-color : white;
	border : none;
	color : #01458A;
	font-family : Inter24pt-24ptMedium;
	font-size : 22px;
	border-radius : 32px;
	padding : 10px 27px;
	margin-right : 27px;
}
.PI_btnAgendarDemonstracao 
{
	background-color : transparent;
	border : 1px solid white;
	color : white;
	font-family : Inter24pt-24ptMedium;
	font-size : 22px;
	border-radius : 32px;
	padding : 10px 27px;
}
.PI_tableApresentacao 
{
	margin-top : 64px;
}
tr:has(> td > span.PI_txtApresentacaoSubTitulo) 
{
	display : flex;
	padding-top : 26px;
}
.PI_tableApresentacaoAcao 
{
	margin-top : 87px;
	margin-bottom : 120px;
	max-width : 530px;
}
.PI_tableCardInicial1 
{
	border-radius : 32px;
	width : 300px;
	height : 254px;
	background-color : #C2E0F4;
	text-align : center;
}
.PI_img_foguete 
{
	width : 73px;
}
table.PI_tableCardInicial1 td 
{
	padding : 21px;
}
.PI_txtCardInicialTitulo 
{
	color : #01458A;
	font-family : Inter24pt-24ptBold;
	font-size : 20px;
}
.PI_txtCardInicialSubTitulo 
{
	color : #1A1A1A;
	font-family : Inter24pt-24pt;
	font-size : 16px;
}
.PI_tableApresentacaoInformacoes 
{
	max-width : 531px;
}
.PI_tableCardsInicial 
{
	column-gap : 20px;
	row-gap : 20px;
	text-align : -webkit-center;
}
.PI_tableContent 
{
	padding : 0px 88px;
}
.PI_tableBody 
{
	width : 100%;
}
.col-xs-12:has(> .MPA_tableContent) 
{
	padding : 0;
	width : 207px;
}
.MPA_tableContent 
{
	width : 207px;
	height : 100vh !important;
	background-color : lightblue;
	border-right : 1px solid #313131;
	padding : 24px 8px;
	display : flex;
	position : relative;
	bottom : 0;
}
.MPA_tableContent > tbody 
{
	height : 100%;
	width : 100%;
}
.MPA_tableContent > tbody > tr 
{
	display : flex;
	padding : 4px 8px;
}
.MPA_tableItemFooter > tbody > tr 
{
	display : flex;
	padding : 4px 8px;
}
tr:has(> td > div .MPA_txtTituloItem):hover 
{
	background-color : #d4d4d4 !important;
}
tr:has(> td > table.MPA_tableItemFooter) 
{
	position : absolute;
	bottom : 0;
	padding : 0 0 20px 0;
	width : calc(100% - 16px);
}
.MPA_TextoItemMenu 
{
	font-family : Inter24pt-24ptMedium;
	font-size : 14px;
}
.MPA_txtTituloItem 
{
	font-family : Inter24pt-24ptMedium;
	font-size : 14px;
	color : #313131;
}
.MPA_txtNomeAtenvia 
{
	font-family : Inter24pt-24ptBold;
	font-size : 24px;
	color : #313131;
}
.MPA_txtVersaoAtenvia 
{
	font-family : Inter24pt-24ptLight;
	font-size : 12px;
	color : #313131;
}
tr:has(> td > span.MPA_txtNomeAtenvia),
        tr:has(> td > span.MPA_txtVersaoAtenvia) 
{
	padding-top : 0;
	padding-bottom : 0;
}
td:has(> span.MPA_txtNomeAtenvia) 
{
	padding : 0;
	height : 29px;
}
td:has(> span.MPA_txtVersaoAtenvia) 
{
	padding : 0 0 24px 0;
}
td:has(> .MPA_tableItemFooter) 
{
	width : 100%;
}
.MPA_tableItemFooter 
{
	width : 100%;
}
div.Table:has(> div.row > div.col-xs-12 > div.MPA_tableMain) 
{
	padding-left : 0;
}
.MPA_ContenteHolder > .gx-content-placeholder 
{
	overflow-y : auto;
	overflow-x : hidden;
	height : 100vh;
}
td:has(> .MPA_tableContent) 
{
	align-content : start;
	padding : 0 !important;
}
.MPA_tableMain > div.row > div.col-xs-12 
{
	padding-right : 0;
}
.CFG_tableContent 
{
	padding : 24px 32px;
}
.CFG_txtTitulo 
{
	color : #1A1A1A;
	font-family : Inter24pt-24ptBold;
	font-size : 30px;
}
.CFG_txtSubTitulo 
{
	color : #1A1A1A;
	font-family : Inter24pt-24pt;
	font-size : 14px;
}
.CFG_tableCampos 
{
	margin-top : 36px;
	row-gap : 8px;
	column-gap : 8px;
}
.CFG_txtDescricao 
{
	color : #000000;
	font-family : Inter24pt-24pt;
	font-size : 14px;
	margin-right : 4px;
	font-weight : 500;
}
table:has(> tbody > tr > td > span.CFG_txtDescricao) 
{
	margin-bottom : 4px;
}
.CFG_imgInfo 
{
	color : #01458A;
}


@media (max-width: 772px)
{
	table.PI_tableApresentacaoInicial > tbody > tr 
	{
		display : flex;
		flex-direction : column-reverse;
	}
}


@media (max-width: 746px)
{
	.PI_tableApresentacaoAcao 
	{
		gap : 16px;
	}
}

@font-face
{
	font-family : Inter24pt-24ptBold;
	src : url("Inter_24pt-Bold_ttf.ttf");
}
@font-face
{
	font-family : Inter24pt-24ptLight;
	src : url("Inter_24pt-Light_ttf.ttf");
}
@font-face
{
	font-family : Inter24pt-24ptMedium;
	src : url("Inter_24pt-Medium_ttf.ttf");
}
@font-face
{
	font-family : Inter24pt-24pt;
	src : url("Inter_24pt-Regular_ttf.ttf");
}
@font-face
{
	font-family : Inter24pt-24ptSemiBold;
	src : url("Inter_24pt-SemiBold_ttf.ttf");
}
@font-face
{
	font-family : Murecho-Bold;
	src : url("Murecho-Bold_ttf.ttf");
}
@font-face
{
	font-family : Murecho-Light;
	src : url("Murecho-Light_ttf.ttf");
}
@font-face
{
	font-family : Murecho-Medium;
	src : url("Murecho-Medium_ttf.ttf");
}
@font-face
{
	font-family : Murecho-Regular;
	src : url("Murecho-Regular_ttf.ttf");
}
@font-face
{
	font-family : Murecho-SemiBold;
	src : url("Murecho-SemiBold_ttf.ttf");
}
@font-face
{
	font-family : Poppins-Bold;
	src : url("Poppins-Bold_ttf.ttf");
}
@font-face
{
	font-family : Poppins-Light;
	src : url("Poppins-Light_ttf.ttf");
}
@font-face
{
	font-family : Poppins-Medium;
	src : url("Poppins-Medium_ttf.ttf");
}
@font-face
{
	font-family : Poppins-Regular;
	src : url("Poppins-Regular_ttf.ttf");
}
@font-face
{
	font-family : Poppins-SemiBold;
	src : url("Poppins-SemiBold_ttf.ttf");
}
}